html
    head
        title= title
        link(rel='stylesheet', href='style.css')
        style.
            body {
                background-color: #fff5f5;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #333;
                margin: 0;
                padding: 0;
            }
            .container {
                max-width: 960px;
                margin: 0 auto;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: start;
            }
            .container h1 {
                color:red;
                margin: 0;
                padding: 20px;
            }
    body
        div.container
            h1= message
            h3= "List of all favorites"
            a(href='/api/favorite') Favorite JSON
            h3= "List of Favorites id:1 (u can select id)"
            a(href='/api/favorite/1') Favorite id:1 JSON
        div.container
            h3= "List of all categories"
            a(href='/api/categories') Categories JSON
            h3= "List of Categories id:1 (u can select id)"
            a(href='/api/categories/1') Categories id:1 JSON
        div.container
            h3= "List of all atistirmalik"
            a(href='/api/atistirmalik') atistirmalik JSON
            h3= "List of atistirmalik id:1 (u can select id)"
            a(href='/api/atistirmalik/1') atistirmalik id:1 JSON
        div.container
            h3= "List of all bebek"
            a(href='/api/bebek') bebek JSON
            h3= "List of bebek id:1 (u can select id)"
            a(href='/api/bebek/1') bebek id:1 JSON
        div.container
            h3= "List of all cards"
            a(href='/api/cards') cards JSON
            h3= "List of cards id:1 (u can select id)"
            a(href='/api/cards/1') cards id:1 JSON
        div.container
            h3= "List of all cinselSaglik"
            a(href='/api/cinselSaglik') cinselSaglik JSON
            h3= "List of cinselSaglik id:1 (u can select id)"
            a(href='/api/cinselSaglik/1') cinselSaglik id:1 JSON
        div.container
            h3= "List of all discount"
            a(href='/api/discount') discount JSON
            h3= "List of discount id:1 (u can select id)"
            a(href='/api/discount/1') discount id:1 JSON
        div.container
            h3= "List of all dondurma"
            a(href='/api/dondurma') dondurma JSON
            h3= "List of dondurma id:1 (u can select id)"
            a(href='/api/dondurma/1') dondurma id:1 JSON
        div.container
            h3= "List of all evyasam"
            a(href='/api/evyasam') evyasam JSON
            h3= "List of evyasam id:1 (u can select id)"
            a(href='/api/evyasam/1') evyasam id:1 JSON
        div.container
            h3= "List of all evbakim"
            a(href='/api/evbakim') evbakim JSON
            h3= "List of evbakim id:1 (u can select id)"
            a(href='/api/evbakim/1') evbakim id:1 JSON
        div.container
            h3= "List of all evcilHayvan"
            a(href='/api/evcilHayvan') evcilHayvan JSON
            h3= "List of evcilHayvan id:1 (u can select id)"
            a(href='/api/evcilHayvan/1') evcilHayvan id:1 JSON
        div.container
            h3= "List of all firindan"
            a(href='/api/firindan') firindan JSON
            h3= "List of firindan id:1 (u can select id)"
            a(href='/api/firindan/1') firindan id:1 JSON
        div.container
            h3= "List of all footerLink"
            a(href='/api/footerLink') footerLink JSON
            h3= "List of footerLink id:1 (u can select id)"
            a(href='/api/footerLink/1') footerLink id:1 JSON
        div.container
            h3= "List of all kahvaltilik"
            a(href='/api/kahvaltilik') kahvaltilik JSON
            h3= "List of kahvaltilik id:1 (u can select id)"
            a(href='/api/kahvaltilik/1') kahvaltilik id:1 JSON
        div.container
            h3= "List of all kisiselbakim"
            a(href='/api/kisiselbakim') kisiselbakim JSON
            h3= "List of kisiselbakim id:1 (u can select id)"
            a(href='/api/kisiselbakim/1') kisiselbakim id:1 JSON
        div.container
            h3= "List of all meyvesebze"
            a(href='/api/meyvesebze') meyvesebze JSON
            h3= "List of meyvesebze id:1 (u can select id)"
            a(href='/api/meyvesebze/1') meyvesebze id:1 JSON
        div.container
            h3= "List of all newItem"
            a(href='/api/newItem') newItem JSON
            h3= "List of newItem id:1 (u can select id)"
            a(href='/api/newItem/1') newItem id:1 JSON
        div.container
            h3= "List of all sliderData"
            a(href='/api/sliderData') sliderData JSON
            h3= "List of sliderData id:1 (u can select id)"
            a(href='/api/sliderData/1') sliderData id:1 JSON
        div.container
            h3= "List of all suicecek"
            a(href='/api/suicecek') suicecek JSON
            h3= "List of suicecek id:1 (u can select id)"
            a(href='/api/suicecek/1') suicecek id:1 JSON
        div.container
            h3= "List of all suturunleri"
            a(href='/api/suturunleri') suturunleri JSON
            h3= "List of suturunleri id:1 (u can select id)"
            a(href='/api/suturunleri/1') suturunleri id:1 JSON
        div.container
            h3= "List of all teknoloji"
            a(href='/api/teknoloji') teknoloji JSON
            h3= "List of teknoloji id:1 (u can select id)"
            a(href='/api/teknoloji/1') teknoloji id:1 JSON
        div.container
            h3= "List of all temelgida"
            a(href='/api/temelgida') temelgida JSON
            h3= "List of temelgida id:1 (u can select id)"
            a(href='/api/temelgida/1') temelgida id:1 JSON
        div.container
            h3= "List of all yiyecek"
            a(href='/api/yiyecek') yiyecek JSON
            h3= "List of yiyecek id:1 (u can select id)"
            a(href='/api/yiyecek/1') yiyecek id:1 JSON



